:root{
    --white: #FFFFFF;
    --orange: #FC6C29;
    --purple: #381DDB;
    --black: #000000;
}

@font-face {
    font-family: 'jost-bold';
    src: url('../ressources/font/static/Jost-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'jost-medium';
    src: url('../ressources/font/static/Jost-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'jost-light';
    src: url('../ressources/font/static/Jost-Light.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: "jost-medium", sans-serif;
}

footer .footer-block1 {
    display: flex;
    justify-content: space-around;
    height: 2.5cm;
}

footer .text_harnix {
    padding: 20px;
    font-size: 24px;
    color: var(--orange);
    font-weight: 700;
    font-family: "jost-bold", sans-serif;
    line-height: 36px;
    text-align: center;
    
}

footer .footer-block1 .center-section nav li {
    display: inline-block;
    font-size: 20px;
    margin: 25px;
}

footer .footer-block1 .center-section nav li > a {
    text-decoration: none;
    color: black;
    position: relative;
}

footer .footer-block1 .center-section nav li > a:hover {
    color: rgb(255, 174, 0);
    transition: all ease-in-out 0.3s;
}

footer .footer-block1 .center-section nav li > a:active {
    color: rgb(255, 174, 0);
    
}

footer .footer-block1 .center-section nav li > a:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: rgb(255, 174, 0);
    transition: all ease-in-out 0.5s;
}
 
footer .footer-block1 .center-section nav li > a:hover:after, footer .footer-block1 .center-section nav li > a:active:after {
    width: 100%;
}

footer .footer-block1 .right-section {
    display: flex;
}

footer .footer-block1 .right-section i {
    margin: 25px;
    font-size: 22px;
    cursor: pointer;
    color: #000000;
}
footer .footer-block1 .right-section i:hover {
    transition: all ease-in-out 0.3s;
    color: var(--orange);

}
footer .divider {
    width: 100%;
    border: 1px solid #ccc;
    margin: 0;
}
  footer .footer-block2 {
    text-align: center;
    padding: 28px;
  }
  footer .footer-block2 p {
    margin: 0;
  }
  footer .footer-block2 .footer-links a {
    text-decoration: underline;
    color: #000;
    margin: 0 30px;
  }
  