/*
    This code was done by @Valeryio
    Things you have to review in this code.
    
    - DRY process, you have to clean this code from
    all the code redundancy that it had
    - Deleting all the inused scss from the code
    - Work on the responsive on the code
*/

@import "variables.scss";
@import "mixins.scss";

body
{
    font-family: jost;
    background: $background-gray;
}


.grid
{
    display: grid;
    grid-template-rows: 464px 650px ;
    grid-template-columns: 100px 320px 320px 320px 320px 100px;
}


header
{
    height: 88px;
    margin: 0 0 40px 0; 
    background: white;
    padding: 0 24px 0 80px;
    @include flex-centered;


    & .secondary_navbar
    {
        width: 1080px;
        min-width: 90%;
        margin: auto;
        display: flex;

        & .active
        {
            @include reset_link;
            @include ariane-selected;
        }
    }

}

.return_link
{
    margin-right: 256px;
    @include flex-centered;

    & a
    {
        @include reset_link;
        transition: all ease-in-out 0.2s;
    }

    & a:hover
    {
        color: $primary-blue;
    }
}

.profil_presentation
{
    margin: auto;
    min-width: 1280px;
    height: 440px;
    grid-row: 1 / span 1;
    grid-column: 2 / span 4;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    background-color: white;
    transition: all ease-in-out 0.5s;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    & .profil_presentation__banner
    {
        width: 100%;
    }

    & .profil_presentation__profile
    {
        left: 50px;
        bottom: 75px;
        width: 150px;
        height: 150px;
        position: absolute;
    }

    & .profil_presentation__informations
    {
        display: flex;
        padding: 16px;
        padding: 0 128px 0 216px; 
        background: white;
    }
}

.profil_presentation:hover
{
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}



.profil_presentation__informations
{
    & .job
    {
        color: $dark-blue;
        margin-right: 400px;
    }
    
    & h2
    {
        margin-bottom: 0;
        font-family: "roboto";
    }

    & button
    {
        width: 290px;
        min-width: 256px;
        height: 56px;
        border: none;
        cursor: pointer;
        color: white;
        font-size: 1rem;
        border-radius: 40px;
        transform: translateY(40%);
        background-color: $primary-blue;


        & span
        {
            margin-right: 10px;
        }

    }
}



aside
{
    width: 300px;
    height: 632px;
    overflow: hidden;
    font-size: 1.2rem;
    padding: 16px 32px;
    background: white;
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.5);


    & h3
    {
        color: $primary-blue;
        font-family: "Roboto", sans-serif;
        text-align: center;
    }

    & .aside__informations
    {
        display: flex;
        color: #666666;
        flex-direction: column;
        justify-content: start;
    }

    & .aside__notifications
    {
        z-index: 0;
        width: 95%;
        height: 64px;
        cursor: pointer;
        border: none;
        font-weight: 600;
        position: relative;
        margin: 20px 0 0 0;
        border-radius: 4px;
        @include flex-centered;
        background: linear-gradient(to right, $primary-blue, $primary-orange);
    }

    & .aside__notifications::before
    {
        top: 2px;
        left: 2px;
        content: "";
        position: absolute;
        width: 98%;
        height: 94%;
        z-index: -2;
        border-radius: 4px;
        background-color: white;
    }

}

.aside__informations
{
    & div
    {
        width: 216px;
        height: 76px;
        border-bottom: 1px solid;
        @include flex-left;
        // margin-bottom: 20px;
    }
    
    & div span
    {
        margin-left: 16px;
    }


}


.aside__notifications__number
{
    width: 40px;
    height: 40px;
    margin: 0 0 0 20px;
    background: #D9D9D9;
    border-radius: 20px;
    @include flex-centered;
}


main
{
    width: 960px;
    // height: 632px;
    overflow: hidden;
    padding: 20px 40px;
    margin-bottom: 100px;
    border-radius: 16px;
    grid-row: 2 / span 2;
    grid-column: 3 / span 2;
    background-color: white;
    font-family: "Roboto", "sans-serif";
    border: 1px solid rgba(0, 0, 0, 0.5);

    & h1
    {
        color: $primary-blue;
    }

    & p
    {
        width: 80%;
        // border: 1px solid;
    }

    & .events_categories
    {
        @include category-band(#EEEEEE);
    }
    

    & .choosed_category
    {
        width: 100%;
        height: 256px;
        padding: 20px;
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.5);
    }

    & .choosed_category:hover
    {    
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    }

    & .notification_box
    {
        width: 90%;
        height: 112px;
        padding: 20px;
        border-radius: 16px;
        background: $primary-gray;
        @include flex-left;
    }

}


.events_categories
{

    & .category
    {
        cursor: pointer;
        @include category-button($primary-blue, white, 2px);
    }

    &::-webkit-scrollbar {
        width: 1px;
        height: 4px;
      }
    
}

.choosed_category
{
    & .badge
    {
        padding: 8px;
        width: fit-content;
        color: $primary-blue;
        font-weight: 600;
        background-color: $light-blue;
        border: 2px dashed $primary-blue;
    }

    & .choices
    {
        @include category-band;
    }
}

.choices
{
    & button
    {
        @include flex-centered;
        @include category-button(white, linear-gradient(to right, $primary-blue, $primary-orange), 0);
    }
}

.notification_box
{
    & > *
    {
        margin-right: 40px;
    }

    & .notification_box__consult
    {
        display: flex;
        // border: 1px solid;
        display: flex;
        
        a
        {
            font-size: 20px;
            margin-right: 8px;
            // border: 1px solid;
        }

        img
        {
            height: 24px;
            // border: 1px solid;
            display: inline;
        }
    }
}

.modification_profile
{

    color: $dark-blue;
    // @include flex-centered;

    & form > div:first-child
    {
        display: flex;
        // height: 574px;
        height: 880px;
        padding: 20px;
        flex-wrap: wrap;
        margin-bottom: 56px;
        justify-content: start;
        flex-direction: column;
        // border: 1px solid black;
    }

    h3
    {
        color: $primary-blue;
    }
}

.modification_profile__form_personnal
{

    margin: 0 32px 40px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    & input
    {
       display: block; 
       width: 345px;
       height: 48px;
       padding: 20px;
       border: 1px solid rgba(0, 0, 0, 0.5);
       border-radius: 8px;
       margin-bottom: 16px;
    }

}


.modification_profile__form_description
{
    width: 400px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    textarea
    {   
        resize: none;
        width: 345px;
        height: 150px;
        padding: 20px;
        font-size: 14px;
        border-radius: 4px;
        font-family: "roboto", "sans-serif";
        // border: 1px solid rgba(0, 0, 0, 0.5);

    }
}

.modification_profile__form_password
{
    button
    {
        width: 345px;
        height: 48px;
        outline: none;
        font-size: 16px;
        border-radius: 8px;
        background-color: white;
        border: 1px solid black;
        transition: all ease-in-out 0.6s;
    }

    button:hover
    {
        font-weight: 500;
    }
}

.modification_profile__form_profil, 
.modification_profile__form_banner
{
    padding-left: 40px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
}

.modification_profile__form_profil input, 
.modification_profile__form_banner input
{
   left: 40px;
    position: absolute;
}

.modification_profile__form_profil img, 
.modification_profile__form_banner img
{
    margin-bottom: 16px;
    // margin-left: 40px;
}

.modification_profile__form_profil label, 
.modification_profile__form_banner label
{
    display: block;
    width: 256px;
    height: 48px;
    color: white;
    font-size: 16px;
    margin-left: 20px;
    border-radius: 8px;
    margin-bottom: 40px;
    background: black;
    @include flex-centered;
}


.modification_profile__submit_modifications
{

    button
    {
        width: 364px;
        height: 64px;
        border: none;
        color: white;
        cursor: pointer;
        font-size: 16px;
        margin-left: 50%;
        margin-bottom: 64px;
        border-radius: 40px;
        background: $primary-blue;
        transform: translateX(-50%);
    }
}