


$primary-orange: #FC6C29;
$light-orange: #FBF1E4;

$dark-blue: #190F6C;
$primary-blue: #381DDB;
$light-blue: #F3F1FD;

$fonced-gray: #878484;
$background-gray: #F0EFF5;
$primary-gray: #D8D8D8;
$light-gray: #F2F1F1;
$white-gray: #FCFCFC;

$linear-mix: #92428A;

$primary-red: #FF0000;